<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Próximos Partidos de Boca Juniors</title>
        
    </head>
    <body>
        <div class="header">
                <img src="/images/boca.jpg" alt="Boca Juniors" class="boca-image">
            </a>
            <h1>Bienvenido a la página del Club Atlético Boca Juniors</h1>
            <div class="nav-links">
                <a href='@Url.Action("Inicio", "Home")'>Inicio</a>
                <a href='@Url.Action("Partidos", "Home")'>Partidos</a>
                <a href='@Url.Action("Entradassoc", "Home")'>Entradas</a>
                <a href='@Url.Action("Noticias", "Home")'>Noticias</a>
            </div>
        <div class="boca_plantel">
        <h1>El Plantel 2023</h1>
        <img src="/images/boca_plantel.jpg" alt="Boca Plantel">
        </div>

        <h1>Desarrollado por Santiago Ferrara, Agustín Yudcovsky y Lucas Flomin</h1>

        <div class="Desarrolladores">
            <div>
                <img src="/images/ferraneta.jpg" alt="Ferra">
            </div>
            <div>
                <img src="/images/yo.jpg" alt="Yuco">
            </div>
            <div>
                <img src="/images/yolo.jpg" alt="Yolo">
            </div>
        </div>
    </body>
</html>
